body {
  font-family: helvetica;
  font-weight: bold;
  }

.big-box {
  border:4px solid;
  background-color:#cccccc;
  border-radius:10px;
  box-shadow:inset 0 0 10px 10px #444;
  height:800px;
  width:800px;
  padding: 0px;
  }

.center {
  margin-left:auto;
  margin-right:auto;
  }

.robot {
  width:51px;
  height:51px;
  background-color:black;
  position:absolute;
  box-shadow: 0 0 3px 3px;
  }
